################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CS2-Admin/bin/Release/net8.0
/CS2-Admin/obj
/release
/CS2-Admin/Properties/PublishProfiles/FolderProfile.pubxml.user
